<div class="history-page">
  <header class="history-header">
    <h1 class="history-title">The History of Watches</h1>
  </header>

  <main class="brand-columns">
    
    <a href="https://www.casio.com/" target="_blank" class="brand-card">
      <img src="brands/cas.jpg" alt="Casio Logo" />
      <h2>Casio</h2>
      <p>
        Known for their durable and affordable timepieces, Casio watches are perfect for active lifestyles. Whether you
        need the rugged **G-Shock** series or the innovative digital watches, Casio blends technology and resilience
        seamlessly.
      </p>
    </a>

    
    <a href="https://www.tissotwatches.com/" target="_blank" class="brand-card">
      <img src="brands/tis.jpg" alt="Tissot Logo" />
      <h2>Tissot</h2>
      <p>
        Synonymous with Swiss precision and elegance, Tissot delivers luxury at a reasonable price. Their Classic Dream
        and T-Touch collections are crafted for those who value style and sophistication in everyday wear.
      </p>
    </a>

   
    <a href="https://www.tagheuer.com/" target="_blank" class="brand-card">
      <img src="brands/tag.jpg" alt="Tag Heuer Logo" />
      <h2>Tag Heuer</h2>
      <p>
        For the bold and adventurous, Tag Heuer offers cutting-edge chronographs with sporty designs. As a symbol of
        performance and precision, models like Carrera and Monaco are must-haves for motorsport enthusiasts.
      </p>
    </a>

    
    <a href="https://www.seikowatches.com/" target="_blank" class="brand-card">
      <img src="brands/sei.jpg" alt="Seiko Logo" />
      <h2>Seiko</h2>
      <p>
        Seiko revolutionized the watch industry with their quartz technology. Combining Japanese craftsmanship with
        reliability, their Presage and Prospex lines cater to both formal and adventurous occasions.
      </p>
    </a>
  </main>

  <footer class="history-footer">
    <a routerLink="/" class="back-button">Back to Showcase</a>
  </footer>
</div>
